<div class="small-12 columns" id="nav-secondary">
<div class="row align-left "><ul id="menu-hot-topics" class="menu show-for-large columns"><li class="menu-item menu-item-type-taxonomy menu-item-object-post_tag drop menu-item-52959"><a href="/tag/religious-liberty/"><small>Religious Liberty</small></a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-post_tag drop menu-item-53167"><a href="/tag/abortion/"><small>Abortion</small></a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-post_tag drop menu-item-53168"><a href="/tag/marriage/"><small>Marriage</small></a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-post_tag drop menu-item-53169"><a href="/tag/politics/"><small>Politics</small></a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-post_tag drop menu-item-53513"><a href="/tag/persecution/"><small>Persecution</small></a></li>
</ul></div></div>