<div class="small-12 small-order-4 large-order-4 columns" id="nav-primary">
		<div class="row align-middle align-justify">
			<div class="small-12 shrink columns small-order-2 large-order-1">
				<div class="">
					<ul id="menu-primary-navigation" class="menu vertical medium-horizontal dropdown" data-responsive-menu="accordion medium-dropdown" role="menubar" data-dropdown-menu="rkdjfn-dropdown-menu"><li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children has-submenu drop menu-item-48393 is-dropdown-submenu-parent opens-right" role="menuitem" aria-haspopup="true" aria-expanded="false" aria-label="Articles"><a href="/category/editorial/" tabindex="0">Articles</a>
<ul class="vertical menu submenu is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" role="menu">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-48395 is-submenu-item is-dropdown-submenu-item" role="menuitem"><a href="/category/news/">News</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-48396 is-submenu-item is-dropdown-submenu-item" role="menuitem"><a href="/category/commentary/">Commentary</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53012 is-submenu-item is-dropdown-submenu-item" role="menuitem"><a href="https://decisionmagazine.com/topics/">Topics</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-53510 is-submenu-item is-dropdown-submenu-item" role="menuitem"><a href="/category/news-features/">Features</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-submenu drop menu-item-48399 is-dropdown-submenu-parent opens-right" role="menuitem" aria-haspopup="true" aria-expanded="false" aria-label="The Magazine"><a href="/magazine">The Magazine</a>
<ul class="vertical menu submenu is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" role="menu">
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-52850 is-submenu-item is-dropdown-submenu-item" role="menuitem"><a href="/issue/january-2017/">Current Issue</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52265 is-submenu-item is-dropdown-submenu-item" role="menuitem"><a href="https://decisionmagazine.com/issues/">Issue Archives</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52164 is-submenu-item is-dropdown-submenu-item" role="menuitem"><a href="https://decisionmagazine.com/mobile-app/">Mobile App</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-52181 is-submenu-item is-dropdown-submenu-item" role="menuitem"><a href="https://billygraham.org/checkout/dmag-subscribe-and-gift.php">Subscribe &amp; Gift</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children has-submenu drop menu-item-52042 is-dropdown-submenu-parent opens-right" role="menuitem" aria-haspopup="true" aria-expanded="false" aria-label="Franklin Graham"><a href="/category/franklin-graham/">Franklin Graham</a>
<ul class="vertical menu submenu is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" role="menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-52157 is-submenu-item is-dropdown-submenu-item" role="menuitem"><a href="https://decisionmagazine.com/from-franklin-graham-we-must-pray-now/">Latest</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-52156 is-submenu-item is-dropdown-submenu-item" role="menuitem"><a href="/category/franklin-graham/">Archives</a></li>
</ul>
</li>
<li class="hide-for-medium menu-item menu-item-type-custom menu-item-object-custom drop menu-item-52129" role="menuitem"><a href="#">Subscribe</a></li>
<li class="hide-for-medium menu-item menu-item-type-custom menu-item-object-custom drop menu-item-52130" role="menuitem"><a href="#">Donate</a></li>
</ul>	    		</div>
	  		</div>
			<div class="show-for-medium shrink columns small-order-2 large-order-2">
				<ul class="menu vertical medium-horizontal dropdown" data-responsive-menu="accordion medium-dropdown" role="menubar" data-dropdown-menu="efh8br-dropdown-menu">
					<li role="menuitem">
						<a data-toggle="searchbar" tabindex="0" aria-controls="searchbar"><i class="fi-magnifying-glass"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>