{% include "./common/header.njk" %}

<div class="columns row small-12" name="ajax-content">
  {% include "./common/multiple.njk" %}
  {% include "./common/spinner.njk" %}
</div>

{% include "./common/footer.njk" %}