{% include "./common/header.njk" %}

<main class="body-content">
  <div class="columns small-12" name="ajax-content">
    {% include "./common/single.njk" %}
    {% include "./common/spinner.njk" %}
  </div>
</main>

{% include "./common/footer.njk" %}